.image-animation{
  opacity: 0;
  animation: imageAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
 
}

@keyframes imageAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}