.text-shadow {
  display: flex;
  align-content: center;
  flex-direction: column;
  font-weight: bold;
  color: rgb(200, 229, 250);
  margin-top: 25%;
  text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black; 
}

#sticky {
  width: 70%;
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  color: black
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}
.span-animate {
  opacity: 0;
  font-size: 5vw;
  animation: spanAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2000ms;
}
.opening-day-color {
  color: rgb(70, 167, 242);
}
@keyframes spanAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@media (max-width: 600px) {
  .span-animate{
    opacity: 0;
    max-width: 100%;
    font-size: 6vw;
    animation: spanAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
  }
}