
.cardlist-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.cardlist-title{
  color: white;
  font-weight: bold;
  font-size: xx-large;
}
.schedule-img{
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}


@media (max-width: 600px) {
  .schedule-img{
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
}