.logo-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
.logo-img{
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}



@media (max-width: 600px) {
  .logo-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}