.home-body{
  background: linear-gradient(180deg, rgba(34,106,214,1) 90%, rgba(34,140,214,1) 95%, rgba(34,192,214,1) 100%);
 
}
.text-shadow{
  text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black; 
}

#sticky {
  width: 70%;
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  color: black
}

.wrapper {
  
  margin-left: auto;
  margin-right: auto;
  

}

/* @media (min-height: 768px) {
  #wrapper{
    height: 2000px;
  }
} */



