
.div{
  display: "flex";
  justify-content: "center";
  align-items: "center";
  margin-left: "auto";
  margin-right: "auto";
}
iframe{
  border-radius: 10;
  width: 70%;
  height: calc(70vw / 1.77);
  border-radius: 10;
}